.client-list-item {
  width: 60%;
  margin-bottom: 1.4em;
  box-shadow: -4px 4px 14px 4px rgb(90, 82, 82);
  background-color: rgb(245, 245, 245);
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.client-list-item:hover {
  background: rgb(81, 173, 184);
  transform: scale(1.1);
  border-top: 1.5px solid white;
  color: white;
}

.client-list-item:hover .client-metrics {
  display: unset; 
}

.client-list-item-content {
  margin: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.client-name {
  font-size: 1.4em;
}

.client-metrics {
  display: none;
  font-size: 1.2em;
}
